
= form_with url: 'login', local: true do |form|
    %h2 Faça login
    %p
        = form.label "Usuário"
        %br/
        = form.text_field :username
    %p
        = form.label "Senha"
        %br/
        = form.password_field :password
    - if @login_failed
        %h4 Credenciais inválidas. Tente de novo.
    %p
        = form.submit 'Entrar'
= link_to 'Cadastrar', '/register'
