<p id="notice"><%= notice %></p>

<h1>Coaches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.user.name %></td>
        <td><%= coach.description %></td>
        <td><%= coach.game %></td>
        <td class='show'><%= link_to 'Show', coach_detail_path(coach) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

