
%h1 Home

%p Seja bem vindo, #{@user.name}!

= form_with url: 'login', method: 'delete', local: true do |form|
    = form.submit 'Sair'

= form_with url: info_path(@user), method: 'get', local: true do |form|
    = form.submit 'Editar dados'

= form_with url: "/affiliate", method: 'get', local: true do |form|
    = form.submit 'Solicitar afiliação'

- if @user.kind == 'coach'
    = form_with url: "/meus_alunos", method: 'get', local: true do |form|
        = form.submit 'Meus Alunos'

