<h1>CoachDetails#show</h1>
<p>Find me in app/views/coach_details/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coach.description %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @coach.whatsapp %>
</p>

<%= link_to 'Agendar aula', "https://api.whatsapp.com/send?phone=#{@coach.whatsapp}&text=Gostaria de uma aula porfavor"%> 

</br>
</br>

<%= link_to 'Voltar', coaches_path %>