<p id="notice"><%= notice %></p>

<h1>Affiliates</h1>
<% if @affiliates.length > 0  %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliates.each do |affiliate| %>
      <tr class="row_<%= affiliate.id%>">
        <td><%= affiliate.user.name %></td>
        <td><%= affiliate.description %></td>
        <td><%= affiliate.status %></td>
        <td class="accept_<%= affiliate.id %>"><%= link_to 'Aceitar', affiliate_accept_path(affiliate.id), method: :post %></td>
        <td class="reject_<%= affiliate.id %>"><%= link_to 'Rejeitar', affiliate_reject_path(affiliate.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<p>Nao existem solicitacoes</p>
<% end %>
